g.slice text {
    font: bold 1em 'Courier New';
    text-transform:capitalize;
}

.flex {
	display: flex;
}

.button {
    display: inline-block;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 8px 0 #006700, 0 15px 20px rgba(0, 0, 0, .35);
    transition: box-shadow .1s ease-in-out;
    font-size: 50px;
    color: #fff;
}

.button span {
    display: inline-block;
    padding: 20px 30px;
    background-color: #00b300;
    border-radius: 8px;
    font-family: 'Pacifico', Arial, sans-serif;
    line-height: 1;
    transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}

.button:hover span {
    background-color: #00b300;
    cursor: pointer;
}

.button:active span {
    transform: translate(0, 4px);
}

button.destroy {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	color: inherit;
	appearance: none;
  outline: none;
}

#header {
	padding-top: 15px;
	border-radius: inherit;
}

#header:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 15px;
	z-index: 2;
	border-bottom: 1px solid #6c615c;
	background: linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
}

#main {
	position: relative;
	z-index: 2;
	border-top: 1px dotted #adadad;
}

.hidden {
	display: none;
}

hr {
	margin: 20px 0;
	border: 0;
	border-top: 1px dashed #C5C5C5;
	border-bottom: 1px dashed #F7F7F7;
}
